
.container{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    width: 800px;
    font-family: sans-serif;
}
.leftContent{
    float: left;
    width: 43%;
    height: 515px;
    padding: 0px 20px;
    border: 2px solid #000;
}
.rightContent{
    float: right;
    width: 43%;
    height: 515px;
    padding: 0px 20px;
    border: 2px solid #000;
}
.row{
   margin-bottom: 5px;
}
.row h2{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.row p{
    text-align: left;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #000;
}
.row p span{
    font-weight: 600;
}